body { 

    color: pink; 
    background-color: rgb(214, 134, 134);
    margin: 0px;
 }

 header {
     border-bottom: salmon 2px yellow(109, 82, 9);
     padding: 20px;
     font-size: 32px;
     color: rgb(252, 5,169);
 }

 section {
    background-color: rgb(255, 182, 193);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

 }
 .chamada-texto {
    margin-right: 5%;
 }

 h1 {
    font-size: 40px;
 }
 p{
    font-size: 20px;
 }
